<!-- <div class="container">
  <div>
     <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
              <div class="form-group">
                <label for="">Roll</label>
                <input
                type="number" 
                ngModel
                name="id" 
                #id="ngModel" 
                class="form-control">
                <p class="text-danger" *ngIf="!id.valid && id.touched">Roll Should have at least 6 letter</p>
              </div>
              <input 
              type="submit"
              value="Search" 
              class="btn btn-block btn-outline-success">
          </form>
  </div>
<br/><br/>
<p>Complete array</p>
  {{students | json}}
<br/><br/><br/><br/>
  <p>Filted Product Name</p>
    {{filtered | json}} -->


    Search Category : <input type="text" (keyup)="filterIt($event)">
    <table>
      <tr>
        <th>Programme</th>
        <th>Category Name</th>
      </tr>
      <tr *ngFor="let data of dataObject">
        <td>{{data}}</td>
        <td>
          <!-- <div *ngFor="let cat of data.List">
            <div *ngFor="let child of cat.RegistrationCategory">
              {{child.RegCategoryName}}
            </div>
          </div> -->
        </td>
      </tr>
    </table>